@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

.about-me {
    width: 80%;
    margin: auto auto;
    background-color: rgb(18, 18, 18);
    margin-top: 0;
}

.pirata-one-regular {
    font-family: "Pirata One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.bokor-regular-about-me {
    font-family: "Bokor", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}
  